annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
ast_serialize==0.6.0
attrs==26.1.0
bigtree==1.5.3
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
cloudpickle==3.1.2
colorama==0.4.6
coverage==7.15.2
dask==2026.7.1
dill==0.3.9
Faker==40.31.0
fastapi==0.139.2
feast==0.64.0
fsspec==2026.6.0
gunicorn==26.0.0
h11==0.16.0
hiredis==3.4.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.18
iniconfig==2.3.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
librt==0.13.0
locket==1.0.0
MarkupSafe==3.0.3
mmh3==5.2.1
mypy==2.3.0
mypy_extensions==1.1.0
numpy==2.5.1
packaging==26.2
pandas==2.3.3
partd==1.4.2
pathspec==1.1.1
pluggy==1.6.0
prometheus-fastapi-instrumentator==8.0.2
prometheus_client==0.24.1
protobuf==7.35.1
psutil==7.2.2
pyarrow==25.0.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.1.0
pytz==2026.2
PyYAML==6.0.3
redis==7.4.1
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
six==1.17.0
SQLAlchemy==2.0.51
tabulate==0.10.0
tenacity==8.5.0
toml==0.10.2
toolz==1.1.0
tqdm==4.68.4
typeguard==4.5.2
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uvicorn==0.34.0
uvicorn-worker==0.3.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.1
